*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
   height: 50px;
   width: 100px;
 
}
.logo{
    background-image: url("amazon_logo.png");
     height: 50px;width: 100%;
     background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* address */
.add-fi{
  color: #cccccc;
  font-size: 0.95rem;
  margin-left: 15px;
}
.add-sec{
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* search box */
.nav-search{
    display: flex;
    background-color: pink;
    width:620px ;
    height: 40px; 
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-option
{
    background-color: #f3f3f3;
    width: 58px;
    text-align: center;
    border:none

}
.search-input
{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0F1111;
}
/* signin */

    span{
        font-size:0.7rem;
    }
    .nav-sec{
        font-size: 0.85rem;
        font-weight: 700;
    }  

    /* cart */
    .nav-cart i{
        font-size: 30px;
    }
    .nav-cart
    {
        font-size: 0.85rem;
        font-weight: 700;
    }
    /* panel */
    .panel{
        height: 40px;
        background-color: #222f3d;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }
    .panel-ops p
    {
        display:inline;
        margin-left: 15px;

    }
    .panel-ops {
        width:70%;
        font-size: 0.85rem;
        font-weight: 500;
    }
    .panel-deals{
        font-size:0.95rem;
        font-weight: 700;
    }
    /* hero section */
    .hero-section{
        background-image: url("hero.jpg");
        height: 380px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items:flex-end;   
    }
    .hero-msg{
        background-color: white;
        color:black;
        height: 40px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        width: 80%;
        
        margin-bottom: 25px;
    }
    .hero-msg a{
        color: #007185;
    }
    /* shop-section */
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: rgb(255, 192, 203);
    }
    .box{
      
        height: 400px;
        width: 23%;
        background-color: white;
        margin-top:10px ;
        padding: 20px 0px 15px;
    }
    .box-img{
        height:300px;
        background-size:cover;
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
    .box-content{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .box-content p{
      color: #007185;
    }
    /* footer */
    footer{
        margin-top: 15px;
    }
    .fpanel1{
        background-color: #37475a;
        color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
    }
    .fpanel2{
        background-color: #222f3d;
        color: white;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    ul{
        margin-top: 20px;
    }
   ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
   }
   .fpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .logo{
      background-image: url("amazon_logo.png");
      background-size: cover;
      height: 50px;
      width:100px;
   }
   .fpanel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */

   }
   .pages{
   
    padding-top: 25px;
   }
   .copyright{
    padding-top: 5px;
   }